root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true

[tests/parser/imported/**]
end_of_line = unset

[tests/parser/current/**]
end_of_line = unset

[provenance/semantics-sources/**]
end_of_line = unset
